.expandable-section {
  margin-bottom: 1rem;
  background: transparent; /* ✅ fondo transparente */
  border: none;
}

.expandable-header {
  width: 100%;
  padding: 12px 0;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/* Contenido con transición de altura + opacidad */
.expandable-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.expandable-content.open {
  max-height: 500px; /* suficiente para todo el contenido */
  opacity: 1;
}

button.expandable-header {
    padding: 10px;
}

.info_p{
    font-size: 0.8em;
    padding: 10px;
}

.enclose_information_acordeon{
  border-radius: 10px;;
    border: 1px solid #cdcdcd;
    
}

.expandable-section {

    padding: 0 !important;
    margin: 0 !important;
}

.guntam_line_expandible {
    color: #cdcdcd !important;
    border: 1px solid #cdcdcda8;
}