#root {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
}

.logo {
  height: 3em;
  pointer-events: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

